<!DOCTYPE html>
<html lang="{{ .Lang }}">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{{ .Language.Title }}</title>
    <meta name="description" content="{{ i18n "index-page.desc" }}">
    <meta name="keywords" content="{{ (delimit .Keywords ",") | default .Site.Params.keywords }}">
    <meta name="author" content="William Desportes">
    <link rel="canonical" href="{{ .Permalink }}">
    {{ range .AllTranslations }}
    <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}">
    {{ end }}
    <link rel="alternate" hreflang="x-default" href="{{ .Site.BaseURL }}fr/">
    <!--sse-->
    {{ $ogLocale := dict "fr" "fr_FR" "en" "en_US" }}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@wdesfr" />
    <meta name="twitter:title" content="{{ .Language.Title }}" />
    <meta name="twitter:description" content="{{ i18n "index-page.desc" }}" />
    <meta name="twitter:image" content="{{ .Site.BaseURL }}assets/logo/wdes_1024x1024.png" />
    <meta name="p:domain_verify" content="4e98cb9abc0163d6ebb1b57e90fc35e3" />
    <meta property="og:site_name" content="Wdes SAS" />
    <meta property="og:title" content="{{ .Language.Title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:image" content="{{ .Site.BaseURL }}assets/logo/wdes_1024x1024.png" />
    <meta property="og:image:width" content="1024" />
    <meta property="og:image:height" content="1024" />
    <meta property="og:description" content="{{ i18n "index-page.desc" }}" />
    <meta property="og:locale" content="{{ index $ogLocale .Lang }}" />
    {{ range .Translations }}
    <meta property="og:locale:alternate" content="{{ index $ogLocale .Language.Lang }}" />
    {{ end }}

    {{ $orgID := printf "%s#organization" .Site.BaseURL }}
    {{ $siteID := printf "%s#website" .Site.BaseURL }}
    {{ $personID := "https://williamdes.eu/#person" }}
    {{ $logoURL := printf "%sassets/logo/wdes_1024x1024.png" .Site.BaseURL }}
    <script type="application/ld+json">
    {{- $org := dict
        "@type" "ProfessionalService"
        "@id" $orgID
        "name" "Wdes SAS"
        "legalName" "WDES SAS"
        "alternateName" "Wdes"
        "description" (i18n "index-page.desc")
        "url" .Site.BaseURL
        "logo" (dict "@type" "ImageObject" "url" $logoURL "width" 1024 "height" 1024 "caption" "Wdes SAS")
        "image" $logoURL
        "email" .Site.Params.links.email
        "vatID" (replace .Site.Params.legalVatNumber " " "")
        "taxID" .Site.Params.legalNumber
        "duns" .Site.Params.altaresDUNS
        "foundingDate" "2017"
        "identifier" (slice
            (dict "@type" "PropertyValue" "propertyID" "SIRET" "value" .Site.Params.legalNumber)
            (dict "@type" "PropertyValue" "propertyID" "VAT" "value" (replace .Site.Params.legalVatNumber " " ""))
            (dict "@type" "PropertyValue" "propertyID" "EORI" "value" .Site.Params.douaneEORI)
            (dict "@type" "PropertyValue" "propertyID" "DUNS" "value" .Site.Params.altaresDUNS))
        "address" (dict
            "@type" "PostalAddress"
            "addressLocality" "Gourin"
            "postalCode" "56110"
            "addressRegion" "Bretagne"
            "addressCountry" "FR")
        "areaServed" (slice
            (dict "@type" "Country" "name" "France")
            (dict "@type" "Place" "name" "European Union")
            (dict "@type" "Place" "name" "Worldwide"))
        "contactPoint" (dict
            "@type" "ContactPoint"
            "email" .Site.Params.links.email
            "contactType" "customer service"
            "availableLanguage" (slice "French" "English"))
        "founder" (dict
            "@type" "Person"
            "@id" $personID
            "name" "William Desportes"
            "givenName" "William"
            "familyName" "Desportes"
            "jobTitle" "Software Engineer"
            "url" "https://williamdes.eu"
            "email" "williamdes@wdes.fr"
            "sameAs" (slice
                "https://github.com/williamdes"
                "https://gitlab.com/williamdes"
                "https://www.linkedin.com/in/williamdes/"))
        "knowsAbout" (slice
            "PHP" "Rust" "TypeScript" "JavaScript" "Vue.js" "Angular" "Node.js"
            "Debian Packaging" "Docker" "PostgreSQL" "Git"
            "Long-Term Software Support" "Code Modernization" "Open Source Maintenance"
            "AI Engineering" "AI Quality Assurance" "Prompt Engineering"
            "DevOps" "Infrastructure as Code" "GitHub Actions")
        "knowsLanguage" (slice "fr" "en")
        "sameAs" (slice
            .Site.Params.links.github
            .Site.Params.links.gitlab
            .Site.Params.links.twitter
            .Site.Params.links.linkedin
            .Site.Params.links.companyOfficialRegistryUrl)
    -}}
    {{- $website := dict
        "@type" "WebSite"
        "@id" $siteID
        "url" .Site.BaseURL
        "name" "Wdes SAS"
        "publisher" (dict "@id" $orgID)
        "inLanguage" (slice "fr" "en")
    -}}
    {{- $webpage := dict
        "@type" "WebPage"
        "@id" (printf "%s#webpage" .Permalink)
        "url" .Permalink
        "name" .Language.Title
        "description" (i18n "index-page.desc")
        "inLanguage" .Lang
        "isPartOf" (dict "@id" $siteID)
        "about" (dict "@id" $orgID)
        "primaryImageOfPage" (dict "@type" "ImageObject" "url" $logoURL)
    -}}
    {{- $graph := dict "@context" "https://schema.org" "@graph" (slice $org $website $webpage) -}}
    {{ $graph | jsonify (dict "indent" "  ") | safeJS }}
    </script>
    <!--/sse-->
    <!-- Favicons -->
    <link href="{{ .Site.BaseURL }}assets/logo/wdes_48x48.png" rel="icon">
    <link href="{{ .Site.BaseURL }}assets/logo/wdes_96x96.png" rel="apple-touch-icon">
    <link href="{{ .Site.BaseURL }}favicon.ico" rel="shortcut icon" type="image/x-icon">

    <!-- Vendor CSS Files -->
    {{ $options := (dict "targetPath" "assets/vendor/bootstrap/css/bootstrap.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $bootstrapStyle := resources.Get "vendor/bootstrap/scss/bootstrap.scss"
        | resources.ExecuteAsTemplate "vendor/bootstrap/scss/bootstrap.scss" .
        | css.Sass $options
        | minify
        | fingerprint "sha512" }}
    <link href="{{ $bootstrapStyle.Permalink }}" rel="stylesheet" integrity="{{ $bootstrapStyle.Data.Integrity }}" crossorigin="anonymous">
    <link rel="preload" href="{{ $bootstrapStyle.Permalink }}" as="style" integrity="{{ $bootstrapStyle.Data.Integrity }}" crossorigin="anonymous">
    {{ $options := (dict "targetPath" "assets/vendor/aos/aos.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $aosStyle := resources.Get "vendor/aos/sass/aos.scss"
        | resources.ExecuteAsTemplate "vendor/aos/sass/aos.scss" .
        | css.Sass $options
        | minify
        | fingerprint "sha512" }}
    <link href="{{ $aosStyle.Permalink }}" rel="stylesheet" integrity="{{ $aosStyle.Data.Integrity }}" crossorigin="anonymous">
    <link rel="preload" href="{{ $aosStyle.Permalink }}" as="style" integrity="{{ $aosStyle.Data.Integrity }}" crossorigin="anonymous">

    <!-- Template Main CSS File -->
    {{ $options := (dict "targetPath" "assets/css/style.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $mainStyle := resources.Get "css/style.scss"
        | resources.ExecuteAsTemplate "css/style.scss" .
        | css.Sass $options
        | minify
        | fingerprint "sha512" }}
    <link href="{{ $mainStyle.Permalink }}" rel="stylesheet" integrity="{{ $mainStyle.Data.Integrity }}" crossorigin="anonymous">
    <link rel="preload" href="{{ $mainStyle.Permalink }}" as="style" integrity="{{ $mainStyle.Data.Integrity }}" crossorigin="anonymous">

    {{ $options := (dict "targetPath" "assets/vendor/MaterialDesignIcons/css/materialdesignicons.min.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $mdiStyle := resources.Get "vendor/MaterialDesignIcons/scss/materialdesignicons.scss"
        | resources.ExecuteAsTemplate "vendor/MaterialDesignIcons/scss/materialdesignicons.scss" .
        | css.Sass $options
        | minify
        | fingerprint "sha512" }}
    <link href="{{ $mdiStyle.Permalink }}" rel="stylesheet" integrity="{{ $mdiStyle.Data.Integrity }}" crossorigin="anonymous">

    {{ $options := (dict "targetPath" "assets/vendor/font-mfizz/css/font-mfizz.min.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $fontMizzStyle := resources.Get "vendor/font-mfizz/font-mfizz.scss"
        | resources.ExecuteAsTemplate "vendor/font-mfizz/font-mfizz.scss" .
        | css.Sass $options
        | minify
        | fingerprint "sha512" }}
    <link href="{{ $fontMizzStyle.Permalink }}" rel="stylesheet" integrity="{{ $fontMizzStyle.Data.Integrity }}" crossorigin="anonymous">
    <!-- Matomo -->
    <script>
    var _paq = window._paq = window._paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//analytics.wdes.eu/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '2']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
    </script>
    <noscript><p><img src="//analytics.wdes.eu/matomo.php?idsite=2&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Matomo Code -->
  <!-- =======================================================
  * Template Name: Squadfree - v4.0.1
  * Template URL: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="{{ "/" | relLangURL }}"><span>Wdes</span></a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">{{ i18n "menu.home" }}</a></li>
          <li><a class="nav-link scrollto" href="#about">{{ i18n "menu.about" }}</a></li>
          <li><a class="nav-link scrollto" href="#services">{{ i18n "menu.services" }}</a></li>
          <li><a class="nav-link scrollto" href="#projects">{{ i18n "menu.projects" }}</a></li>
          <li><a class="nav-link scrollto" href="#contact">{{ i18n "menu.contact" }}</a></li>
          {{ range .Translations }}
          <li><a href="{{ .Permalink }}" class="nav-link lang-switch" title="{{ i18n "hidden.lang-switch" }}"><i class="mdi mdi-translate"></i> {{ i18n "hidden.lang-switch" }}</a></li>
          {{ end }}
        </ul>
        {{ range .Translations }}
        <a href="{{ .Permalink }}" class="lang-switch-mobile" title="{{ i18n "hidden.lang-switch" }}" aria-label="{{ i18n "hidden.lang-switch" }}"><i class="mdi mdi-translate"></i><span class="lang-switch-mobile-label">{{ i18n "hidden.lang-switch" }}</span></a>
        {{ end }}
        <i class="mdi mdi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-duration="1000">
      <h1>{{ i18n "head.title" }}</h1>
      <h2><span class="typed" data-typed-items="{{ i18n "head.typed-strings" }}"></span></h2>
      <div class="hero-cta mt-4">
        <a href="#contact" class="btn-get-started scrollto">{{ i18n "contact.cta" }} <i class="mdi mdi-arrow-right"></i></a>
        <a href="#projects" class="btn-projects scrollto">{{ i18n "menu.projects" }} <i class="mdi mdi-chevron-double-down"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>{{ i18n "about.header" }}</h2>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">
            <p class="about-text text-center">{{ i18n "about.content" | safeHTML }}</p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Tech Stack Section ======= -->
    <section id="tech" class="tech-stack section-bg">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>{{ i18n "tech.header" }}</h2>
        </div>
        <div class="row justify-content-center tech-icons" data-aos="fade-up" data-aos-delay="100">
          <div class="col-auto tech-icon" title="Rust"><i class="icon-rust"></i><span>Rust</span></div>
          <div class="col-auto tech-icon" title="PHP"><i class="icon-php"></i><span>PHP</span></div>
          <div class="col-auto tech-icon" title="TypeScript"><i class="icon-javascript-alt"></i><span>TypeScript</span></div>
          <div class="col-auto tech-icon" title="Docker"><i class="icon-docker"></i><span>Docker</span></div>
          <div class="col-auto tech-icon" title="Debian"><i class="icon-debian"></i><span>Debian</span></div>
          <div class="col-auto tech-icon" title="Vue.js"><i class="mdi mdi-vuejs"></i><span>Vue.js</span></div>
          <div class="col-auto tech-icon" title="Angular"><i class="icon-angular"></i><span>Angular</span></div>
          <div class="col-auto tech-icon" title="PostgreSQL"><i class="icon-postgres"></i><span>PostgreSQL</span></div>
          <div class="col-auto tech-icon" title="Git"><i class="icon-git"></i><span>Git</span></div>
          <div class="col-auto tech-icon" title="Shell"><i class="icon-shell"></i><span>Shell</span></div>
        </div>
      </div>
    </section><!-- End Tech Stack Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>{{ i18n "services.header" }}</h2>
          <p>{{ i18n "services.content" }}</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon"><i class="mdi mdi-head-lightbulb-outline"></i></div>
              <h4 class="title"><a href="#contact">{{ i18n "services.ai.title" }}</a></h4>
              <p class="description">{{ i18n "services.ai.content" }}</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon"><i class="mdi mdi-code-braces"></i></div>
              <h4 class="title"><a href="#contact">{{ i18n "services.dev.title" }}</a></h4>
              <p class="description">{{ i18n "services.dev.content" }}</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon"><i class="mdi mdi-update"></i></div>
              <h4 class="title"><a href="#contact">{{ i18n "services.lts.title" }}</a></h4>
              <p class="description">{{ i18n "services.lts.content" }}</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
              <div class="icon"><i class="mdi mdi-server-network"></i></div>
              <h4 class="title"><a href="#contact">{{ i18n "services.infra.title" }}</a></h4>
              <p class="description">{{ i18n "services.infra.content" }}</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box" data-aos="fade-up" data-aos-delay="100">
              <i class="mdi mdi-star"></i>
              <span data-purecounter-start="0" data-purecounter-end="750" data-purecounter-duration="2" class="purecounter"></span>
              <p><strong>{{ i18n "numbers.stars" }}</strong></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box" data-aos="fade-up" data-aos-delay="200">
              <i class="mdi mdi-calendar-clock"></i>
              <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>{{ i18n "numbers.years" }}</strong></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box" data-aos="fade-up" data-aos-delay="300">
              <i class="mdi mdi-flash"></i>
              <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>{{ i18n "numbers.actions" }}</strong></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box" data-aos="fade-up" data-aos-delay="400">
              <i class="mdi mdi-source-repository-multiple"></i>
              <span data-purecounter-start="0" data-purecounter-end="80" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>{{ i18n "numbers.repos" }}</strong></p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Featured Projects Section ======= -->
    <section id="projects" class="projects">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>{{ i18n "projects.header" }}</h2>
          <p>{{ i18n "projects.content" }}</p>
        </div>

        <div class="row">

          <div class="col-lg-6 col-md-6 mb-4" data-aos="fade-right" data-aos-delay="100">
            <div class="project-card">
              <div class="project-card-header">
                <h4>{{ i18n "projects.doctum.title" }}</h4>
                <div class="project-badges">
                  <span class="badge-lang">{{ i18n "projects.doctum.lang" }}</span>
                  <span class="badge-stars"><i class="mdi mdi-star"></i> 351</span>
                </div>
              </div>
              <p>{{ i18n "projects.doctum.desc" | safeHTML }}</p>
              <a href="{{ i18n "projects.doctum.url" }}" target="_blank" rel="noopener" class="project-link">
                <i class="mdi mdi-github"></i> GitHub <i class="mdi mdi-open-in-new"></i>
              </a>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 mb-4" data-aos="fade-left" data-aos-delay="100">
            <div class="project-card">
              <div class="project-card-header">
                <h4>{{ i18n "projects.phpmyadmin.title" }}</h4>
                <div class="project-badges">
                  <span class="badge-lang">{{ i18n "projects.phpmyadmin.lang" }}</span>
                </div>
              </div>
              <p>{{ i18n "projects.phpmyadmin.desc" | safeHTML }}</p>
              <a href="{{ i18n "projects.phpmyadmin.url" }}" target="_blank" rel="noopener" class="project-link">
                <i class="mdi mdi-web"></i> phpmyadmin.net <i class="mdi mdi-open-in-new"></i>
              </a>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 mb-4" data-aos="fade-right" data-aos-delay="200">
            <div class="project-card">
              <div class="project-card-header">
                <h4>{{ i18n "projects.debian.title" }}</h4>
                <div class="project-badges">
                  <span class="badge-lang">{{ i18n "projects.debian.lang" }}</span>
                </div>
              </div>
              <p>{{ i18n "projects.debian.desc" | safeHTML }}</p>
              <a href="{{ i18n "projects.debian.url" }}" target="_blank" rel="noopener" class="project-link">
                <i class="mdi mdi-open-in-new"></i> Debian QA
              </a>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 mb-4" data-aos="fade-left" data-aos-delay="200">
            <div class="project-card">
              <div class="project-card-header">
                <h4>{{ i18n "projects.security.title" }}</h4>
                <div class="project-badges">
                  <span class="badge-lang">{{ i18n "projects.security.lang" }}</span>
                  <span class="badge-stars"><i class="mdi mdi-star"></i> 34</span>
                </div>
              </div>
              <p>{{ i18n "projects.security.desc" | safeHTML }}</p>
              <a href="{{ i18n "projects.security.url" }}" target="_blank" rel="noopener" class="project-link">
                <i class="mdi mdi-github"></i> GitHub <i class="mdi mdi-open-in-new"></i>
              </a>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 mb-4" data-aos="fade-left" data-aos-delay="200">
            <div class="project-card">
              <div class="project-card-header">
                <h4>{{ i18n "projects.mail-autodiscover.title" }}</h4>
                <div class="project-badges">
                  <span class="badge-lang">{{ i18n "projects.mail-autodiscover.lang" }}</span>
                  <span class="badge-stars"><i class="mdi mdi-star"></i> 26</span>
                </div>
              </div>
              <p>{{ i18n "projects.mail-autodiscover.desc" | safeHTML }}</p>
              <a href="{{ i18n "projects.mail-autodiscover.url" }}" target="_blank" rel="noopener" class="project-link">
                <i class="mdi mdi-github"></i> GitHub <i class="mdi mdi-open-in-new"></i>
              </a>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 mb-4" data-aos="fade-right" data-aos-delay="300">
            <div class="project-card">
              <div class="project-card-header">
                <h4>{{ i18n "projects.action-pr-merge.title" }}</h4>
                <div class="project-badges">
                  <span class="badge-lang">{{ i18n "projects.action-pr-merge.lang" }}</span>
                  <span class="badge-stars"><i class="mdi mdi-star"></i> 9</span>
                </div>
              </div>
              <p>{{ i18n "projects.action-pr-merge.desc" | safeHTML }}</p>
              <a href="{{ i18n "projects.action-pr-merge.url" }}" target="_blank" rel="noopener" class="project-link">
                <i class="mdi mdi-github"></i> GitHub <i class="mdi mdi-open-in-new"></i>
              </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Projects Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>{{ i18n "contact.header" }}</h2>
          <p>{{ i18n "contact.content" }}</p>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <a href="{{ .Site.Params.links.mailto }}" class="contact-cta-btn">
              <i class="mdi mdi-email"></i> {{ i18n "contact.cta" }}
            </a>
            <p class="mt-3">
              <a href="{{ .Site.Params.links.mailto }}">{{ .Site.Params.links.email }}</a>
            </p>
          </div>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Wdes</h3>
              <p class="pb-3"><em>{{ i18n "footer.motd" }}</em></p>
              <p>
                {{ i18n "footer.address" }}<br><br>
                <strong>{{ i18n "footer.email" }}</strong><a href="mailto:{{ .Site.Params.links.email }}">{{ .Site.Params.links.email }}</a><br>
                <strong>{{ i18n "footer.legal-number" }}</strong><a href="{{ .Site.Params.links.companyOfficialRegistryUrl }}" target="_blank" rel="noopener">{{ .Site.Params.legalNumber }}</a><br>
                <strong>{{ i18n "footer.legal-intracom-number" }}</strong><a href="{{ .Site.Params.links.europaVies }}" target="_blank" rel="noopener">{{ .Site.Params.legalVatNumber }}</a><br>
                <strong>{{ i18n "footer.legal-EORI-number" }}</strong><a href="{{ .Site.Params.links.europaVies }}" target="_blank" rel="noopener">{{ .Site.Params.douaneEORI }}</a><br>
                <strong>{{ i18n "footer.legal-DUNS-number" }}</strong><a href="{{ .Site.Params.links.altaresDUNS }}" target="_blank" rel="noopener">{{ .Site.Params.altaresDUNS }}</a><br>
              </p>
              <div class="social-links mt-3">
                <!--sse-->
                <a href="{{ .Site.Params.links.twitter }}" target="_blank" rel="noopener" class="twitter" title="{{ i18n "hidden.twitter" }}"><i class="mdi mdi-twitter"></i></a>
                <a href="{{ .Site.Params.links.github }}" target="_blank" rel="noopener" class="github" title="{{ i18n "hidden.github" }}"><i class="mdi mdi-github"></i></a>
                <a href="{{ .Site.Params.links.gitlab }}" target="_blank" rel="noopener" class="gitlab" title="{{ i18n "hidden.gitlab" }}"><i class="mdi mdi-gitlab"></i></a>
                <a href="{{ .Site.Params.links.linkedin }}" target="_blank" rel="noopener" class="linkedin" title="{{ i18n "hidden.linkedin" }}"><i class="mdi mdi-linkedin"></i></a>
                <a href="{{ .Site.Params.links.mailto }}" target="_blank" rel="noopener" class="email" title="{{ i18n "hidden.email" }}"><i class="mdi mdi-email"></i></a>
                <a href="{{ "/legal/" | relLangURL }}" target="_blank" rel="noopener" class="legal" title="{{ i18n "hidden.legal" }}"><i class="mdi mdi-gavel"></i></a>
                <!--/sse-->
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>{{ .Site.Copyright }}</span></strong>
        </div>
        <div class="credits">
            {{ i18n "footer.designed_by" }}&nbsp;<a href="https://bootstrapmade.com/"
                target="_blank" rel="nofollow noopener">BootstrapMade</a>
        </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center" title="{{ i18n "hidden.back-to-top" }}"><i class="mdi mdi-chevron-up"></i></a>


    <!-- Vendor JS Files -->
    {{ $purecounterLibJs := resources.Get "vendor/purecounter.js/purecounter.js"
        | fingerprint "sha512"
    }}
    <script src="{{ $purecounterLibJs.Permalink }}" integrity="{{ $purecounterLibJs.Data.Integrity }}" crossorigin="anonymous"></script>
    {{ $aosLibJs := resources.Get "vendor/aos/js/aos.js"
        | fingerprint "sha512"
    }}
    <script src="{{ $aosLibJs.Permalink }}" integrity="{{ $aosLibJs.Data.Integrity }}" crossorigin="anonymous"></script>
    {{ $bootstrapLibJs := resources.Get "vendor/bootstrap/js/bootstrap.bundle.js"
        | fingerprint "sha512"
    }}
    <script src="{{ $bootstrapLibJs.Permalink }}" integrity="{{ $bootstrapLibJs.Data.Integrity }}" crossorigin="anonymous"></script>
    {{ $typedLibJs := resources.Get "vendor/typed.js/typed.min.js"
        | fingerprint "sha512"
    }}
    <script src="{{ $typedLibJs.Permalink }}" integrity="{{ $typedLibJs.Data.Integrity }}" crossorigin="anonymous"></script>

    <!-- Template Main JS File -->
    {{ $options := (dict "targetPath" "assets/js/main.js" "enableSourceMap" true) }}
    {{ $mainJs := resources.Get "js/main.js"
        | js.Build $options
        | minify
        | fingerprint "sha512"
    }}
    <script src="{{ $mainJs.Permalink }}" integrity="{{ $mainJs.Data.Integrity }}" crossorigin="anonymous"></script>

</body>

</html>
